<!DOCTYPE html>
<html>
<head>
  <title>Meal Type List</title>
</head>
<body>
  <h1>Meal Type List</h1>
  <ul>
    <% mealTypes.forEach(mealType => { %>
      <li><%= mealType.name %></li>
    <% }); %>
  </ul>
</body>
</html>
