* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: black;
    justify-content: center;
    align-items: center;
    display: grid;
    animation: changeBg 5s infinite alternate linear;
    place-items: center;
}

.Container {
    flex-direction: row;
    align-items: center;
}

table {
    height: 580px;
    width: 800px;
    background: #fac495;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 50px;
    box-shadow: 2px 1px 3px 2px #f4ae70, 0 2px #e1ac7d;
    justify-content: space-between;
    border-spacing: 4px;
}

.Container table .inputbtn {
    justify-content: space-between;
}

table .top {
    color: blue;
    font-weight: 900;
    text-align: center;
}

table .data {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.inputbtn {
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-left: 100px;
}

.inputbtn input[type=text] {
    height: 22px;
    width: 400px;
    border-radius: 8px;
    padding: 12px;
    font-size: 18px;
    letter-spacing: 2px;
    margin-right: 50px;
}

button {
    background: #dc7821;
    height: 45px;
    width: 120px;
    color: #f4ebe4;
    font-size: 20px;
    font-weight: 900;
    border: 3px solid #dba77a;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #9c4b03, 0 1px 1px #dc7821;
    border-radius: 8px;
    letter-spacing: 1.5px;
}

button:hover {
    background-color: #b69a81;
    color: #a44c00;
    text-shadow: 1px 1px 1px #793b05;
    border: 3px solid #a44c00;
}

@keyframes changeBg {
    0% {
        background: #232223;
    }

    25%{
        background: #2d232d;
    }
    
    50%{
        background: #454445;
    }
    
    75%{
        background: #4d504f;
    }
    
    100%{
        background: #72636c;
    }
}